.certificate {
  width: 1121px;
  height: 449px;
  margin-top: 100px;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1121px;
    height: 357px;
    display: block;
    overflow: hidden;
    &-item {
      margin-right: 31px;
      margin-left: 0;
      width: 257px;
      height: 357px;
      padding-top: 28px;
      padding-left: 20px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__btns {
    margin-right: 0;
    margin-left: 0;
  }
  &__btn-prev,
  &__btn-next {
    width: 56px;
    height: 56px;
    border: 1px solid #d5d5d5;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }
  &__btn-prev {
    background: url(/imgs/icons/arrow-prev.svg) no-repeat center;
  }
  &__btn-next {
    background: url(/imgs/icons/arrow-next.svg) no-repeat center;
    margin-left: 16px;
  }
}
.slick-track {
  margin-left: 0;
  margin-right: 0;
  width: 1121px;
  height: 357px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
